<div class="row">
    <div class="col-xs-5">
        <div class="form-group">
            <label for="status" class="control-label">fieldwork status</label>
            <select class="form-control" name="status" ng-model="fieldwork">
                <option value="0">UnderConstruction</option>
                <option value="1">Started</option>
                <option value="3">Closed</option>
                <option value="4">Finished</option>
            </select>
        </div>
    </div>
</div>



